<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-grid>
  <ion-row>

    <ion-col size="6">
      <img src="https://images.tcdn.com.br/img/img_prod/1103727/refrigerante_sprit_lata_350ml_2233_1_51453237a6ef180b9786ec8622fb21a4.jpg">
      <ion-item>
        <ion-label>Sprit R$3,60</ion-label>
      </ion-item>

      <ion-item>  
        <ion-label>R$3,60</ion-label>
        <ion-button name="cart-outline"></ion-button>
      </ion-item>
    </ion-col>

    <ion-col size="6">
      <img src="https://images.tcdn.com.br/img/img_prod/1103727/refrigerante_sprit_lata_350ml_2233_1_51453237a6ef180b9786ec8622fb21a4.jpg">
      <ion-item>
        <ion-label>Sprit R$3,60</ion-label>
      </ion-item>

      <ion-item>  
        <ion-label>R$3,60</ion-label>
        <ion-button name="cart-outline"></ion-button>
      </ion-item>
    
      <ion-col size="6">
        <img src="https://images.tcdn.com.br/img/img_prod/1103727/refrigerante_sprit_lata_350ml_2233_1_51453237a6ef180b9786ec8622fb21a4.jpg">
        <ion-item>
          <ion-label>Sprit R$3,60</ion-label>
        </ion-item>
  
        <ion-item>  
          <ion-label>R$3,60</ion-label>
          <ion-button name="cart-outline"></ion-button>
        </ion-item>
      </ion-col>  
    

      <ion-col size="6">
        <img src="https://images.tcdn.com.br/img/img_prod/1103727/refrigerante_sprit_lata_350ml_2233_1_51453237a6ef180b9786ec8622fb21a4.jpg">
        <ion-item>
          <ion-label>Sprit R$3,60</ion-label>
        </ion-item>
  
        <ion-item>  
          <ion-label>R$3,60</ion-label>
          <ion-button name="cart-outline"></ion-button>
        </ion-item>
      </ion-col>  
    
    
      </ion-col> 
  </ion-row>
</ion-grid>